@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 16 56% 95%;
    --foreground: 302 30% 22%;
    --card: 16 56% 95%;
    --card-foreground: 302 30% 22%;
    --popover: 16 56% 95%;
    --popover-foreground: 302 30% 22%;
    --primary: 305 20% 48%;
    --primary-foreground: 16 56% 95%;
    --secondary: 27 61% 88%;
    --secondary-foreground: 302 30% 22%;
    --muted: 17 57% 20%;
    --muted-foreground: 301 29% 70%;
    --accent: 302 30% 22%;
    --accent-foreground: 16 56% 95%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 302 30% 22%;
    --border: 17 57% 20%;
    --input: 17 57% 20%;
    --ring: 302 30% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 227 31% 6%;
    --foreground: 227 31% 94%;
    --card: 227 31% 6%;
    --card-foreground: 227 31% 94%;
    --popover: 227 31% 6%;
    --popover-foreground: 227 31% 94%;
    --primary: 229 31% 75%;
    --primary-foreground: 227 31% 6%;
    --secondary: 256 30% 32%;
    --secondary-foreground: 227 31% 94%;
    --muted: 227 31% 80%;
    --muted-foreground: 227 31% 94%;
    --accent: 259 30% 52%;
    --accent-foreground: 227 31% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 228 29% 10%;
    --border: 227 31% 60%;
    --input: 227 31% 80%;
    --ring: 259 30% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

canvas {
  image-rendering: pixelated;
}
